<!doctype html>
<html lang="en">

<head>
  <title>Login</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="{{url_for('static', filename='../static/bootstrap5/css/bootstrap.min.css')}}" rel="stylesheet" >

</head>

<body>
  <header>
    <!-- place navbar here -->
    <h2 class="text-center text-primary">User Login</h2>
  </header>
  <main>
        <div class="mb-3">
          <label for="" class="form-label">Username</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="Username">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input type="password"
              class="form-control" name="" id="" aria-describedby="helpId" placeholder="Password">
            <small id="helpId" class="form-text text-muted">Help text</small>
          </div>

          <button class="btn btn-primary form-control">Login</button>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>